#header {
  background: rgba(255,255,255, 0.9);
  position: sticky;
  width: 100%;
  position: sticky;
  top: -1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  .logo {
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none !important;

    flex: 1;
    h3 {
      font-family: sans-serif;
      font-weight: 700;
      color: #000;
    }
    img {
      padding: 6px;
      height: 32px;
      width: auto;
    }
  } 
  #nav-bar {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      li {
        margin-right: 1rem;
        a {
          color: salmon;
          text-decoration: none;
          padding: 8px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      li:last-child {
        border: 1px solid salmon;
        border-radius: 25px;
        transition: all 0.3s;
        padding: 8px;

        a {
          padding: 8px;
        }
        &:hover {
          background: salmon;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.hero-horse {
  background: url('./josephine-amalie-paysen-302414-unsplash.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
  font-size: 180px;
  overflow: hidden;
}

.video-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  #video, .video-overlay {
    grid-column: 1;
    grid-row: 1;
  }
}
#video {
  width: 100%;
  position: relative;
  z-index: -1;
}

.video-overlay {
  font-size: 44px;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: flex-end;
  padding: 3rem;
  color: #fff;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./horse-running-silhouette.png') salmon;
  background-position: 12% 20%;
  background-size: 33%;
  flex-direction: column;
  color: #fff;
  #submit {
    border: 1px solid #fff;
        border-radius: 25px;
        background: transparent;
        padding: 8px;
        color: #fff;
        transition: all 0.3s;
        &:hover {
          background: #fff;
          color: salmon;
        }
  }
}

section {
  height: 100vh;
}

@media(max-width: 800px) {
  #header {
    font-size: 0.8rem;
   .logo {
      margin-left: 0;
    }
    #nav-bar ul li {
      margin-right: 0;
      &:last-child { 
        border: none;
        transition: none;
      }
    }
  }
  .video-section {
    height: auto;
  }
  .video-overlay {
    padding: 0;
    padding-right: 1rem;
  }
  .form-section {
    background-size: 45%;
    h1 {
      text-align: center;
    }
  }
  section {
    height: 100vw;
  }
  h1 {
    font-size: 32px;
  }
}

