#header {
  background: rgba(255, 255, 255, 0.9);
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  position: sticky;
  top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

#header .logo {
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none !important;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#header .logo h3 {
  font-family: sans-serif;
  font-weight: 700;
  color: #000;
}

#header .logo img {
  padding: 6px;
  height: 32px;
  width: auto;
}

#header #nav-bar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

#header #nav-bar ul li {
  margin-right: 1rem;
}

#header #nav-bar ul li a {
  color: salmon;
  text-decoration: none;
  padding: 8px;
}

#header #nav-bar ul li a:hover {
  text-decoration: underline;
}

#header #nav-bar ul li:last-child {
  border: 1px solid salmon;
  border-radius: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px;
}

#header #nav-bar ul li:last-child a {
  padding: 8px;
}

#header #nav-bar ul li:last-child:hover {
  background: salmon;
}

#header #nav-bar ul li:last-child:hover a {
  color: #fff;
  text-decoration: none;
}

.hero-horse {
  background: url("./josephine-amalie-paysen-302414-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 180px;
  overflow: hidden;
}

.video-section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.video-section #video, .video-section .video-overlay {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

#video {
  width: 100%;
  position: relative;
  z-index: -1;
}

.video-overlay {
  font-size: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 3rem;
  color: #fff;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("./horse-running-silhouette.png") salmon;
  background-position: 12% 20%;
  background-size: 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.form-section #submit {
  border: 1px solid #fff;
  border-radius: 25px;
  background: transparent;
  padding: 8px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-section #submit:hover {
  background: #fff;
  color: salmon;
}

section {
  height: 100vh;
}

@media (max-width: 800px) {
  #header {
    font-size: 0.8rem;
  }
  #header .logo {
    margin-left: 0;
  }
  #header #nav-bar ul li {
    margin-right: 0;
  }
  #header #nav-bar ul li:last-child {
    border: none;
    -webkit-transition: none;
    transition: none;
  }
  .video-section {
    height: auto;
  }
  .video-overlay {
    padding: 0;
    padding-right: 1rem;
  }
  .form-section {
    background-size: 45%;
  }
  .form-section h1 {
    text-align: center;
  }
  section {
    height: 100vw;
  }
  h1 {
    font-size: 32px;
  }
}
/*# sourceMappingURL=style.css.map */